@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
}

/* shared-style */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  .background {
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    
  }
  .display-flex{
    display: flex;
  }
/* header related style */

  .navbar{
    justify-content: space-between;
    margin: 0 190px;
    align-items: center;
    padding: 20px;
  }

  .nav-item{
    list-style: none;
    
    
  }
  .nav-links{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 46px;
    padding: 8px 0;
  }
   
  .nav-link{
    text-decoration: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    
   
  }

  .home-btn{
    border: 1px solid #E6533C;
    background-color: #E6533C;
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
  }
.header-container{
    max-width: 1440px;
    height: 715px;
}
.brand{
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
    text-align: left;
    font-style: italic;
}
.header-title{
  font-size: 4rem;
  font-weight: 900;
  text-align: left;
  color: white;
  margin-bottom: 10px;
}
.shape{
  font-family: Miama;
  font-weight: 400;
  font-size: 4rem;
  font-style: italic;
}
.quotation{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
}
.join{
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid #E6533C;
    background-color: #E6533C;
    color: white;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    margin: 10px;
}
.download{
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid rgb(255, 255, 255);
    background-color:  rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    margin: 10px;
}
.header-container-content{
  justify-content: space-between;
  align-items: center;
  margin: 10px 190px;
}

.habit-container{
  width: 1440px;
  height: 4650px;
  background: rgb(0, 0, 0);
  margin-top: 0;
}